<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12 animated fadeInRight">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>
                        Create Project
                    </h2>
                </div>
                <div class="ibox-content mailbox-main">
                    <md-content>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="table" md-on-select="select=0">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="name-field" class="control-label">Project Name</label>
                                        <div><input type="text" id="name-field" ng-model="project_name"
                                                    class="form-control">
                                        </div>
                                    </div>
                                    <div class="row duplicable-row" ng-repeat="(index, service) in project">
                                        <div class="row full-bleed">
                                            <div class="panel panel-default">
                                                <div class="panel-heading clickable">
                                                    <div class="panel-title">
                                                        <div class="col-sm-6">
                                                            <a data-toggle="collapse" id="serviceSetBtn"
                                                               aria-expanded="true"
                                                               ng-href="#serviceSetting{{ index }}"><span
                                                                    class="si-angle-right"></span>service</a>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="controls">
                                                                <div class="col-sm-4">
                                                                    <a ng-click="addService()"><span
                                                                            class="si-plus"></span></a>
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <a ng-show="index!=0"
                                                                       ng-click="deleteService(index)"><span
                                                                            class="si-less"></span></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="serviceSetting{{ index }}"
                                                     class="DockerSetting panel-collapse collapse"
                                                     aria-expanded="true" style="padding-left:60px">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label for="name-field" class="control-label">service
                                                                Name</label>
                                                            <div><input type="text" id="name-field"
                                                                        ng-model="service.name"
                                                                        class="form-control">
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <label for="link-field" class="control-label">links</label>
                                                            <div>
                                                                <select type="text"
                                                                        id="network-field"
                                                                        ng-model="service.network"
                                                                        ng-options="service.name as service.name for service in project"
                                                                        class="form-control">
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="cpus-field"
                                                                       class="control-label">Cpus</label>
                                                                <div><input type="text" id="cpus-field"
                                                                            ng-model="service.cpu_shares"
                                                                            class="form-control"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="mem-field"
                                                                       class="control-label">Memory</label>
                                                                <div><input type="text" id="mem-field"
                                                                            ng-model="service.mem_limit"
                                                                            class="form-control"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label for="disk-field" class="control-label">Disk
                                                                    Space(MB)</label>
                                                                <div><input type="text" id="disk-field"
                                                                            ng-model="service.disk"
                                                                            class="form-control"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="cmd-field" class="control-label">Command</label>
                                                        <div><textarea type="text" id="cmd-field"
                                                                       ng-model="service.command"
                                                                       class="form-control"></textarea></div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label for="image-field"
                                                                       class="control-label">Image</label>
                                                                <div><input type="text" id="image-field"
                                                                            ng-model="service.image"
                                                                            class="form-control"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label for="network-field"
                                                                       class="control-label">Network</label>
                                                                <div>
                                                                    <select type="text"
                                                                            id="network-field"
                                                                            ng-model="service.network"
                                                                            ng-options="network as network for network in networks"
                                                                            class="form-control">
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h4>Port Mappings</h4>
                                                    <div class="row duplicable-row"
                                                         ng-repeat="(pos, port_mapping) in service.ports">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Container
                                                                    Port</label>
                                                                <div><input type="text"
                                                                            ng-model="port_mapping.container_port"
                                                                            class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Host
                                                                    Port</label>
                                                                <div><input type="text"
                                                                            ng-model="port_mapping.host_port"
                                                                            class="form-control"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Host
                                                                    Port</label>
                                                                <div><select type="text"
                                                                             ng-model="port_mapping.protocol"
                                                                             class="form-control">
                                                                    <option value="tcp">TCP</option>
                                                                    <option value="udp">UDP</option>
                                                                </select></div>
                                                            </div>
                                                            <div class="controls">
                                                                <a ng-click="addPortMapping(index)"><span
                                                                        class="si-plus"></span></a>
                                                                <a ng-show="pos!=0"
                                                                   ng-click="deletePortMapping(index, pos)"><span
                                                                        class="si-less"></span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <h4>Volumes</h4>
                                                    <div class="row duplicable-row"
                                                         ng-repeat="(pos, volume) in service.volumes">
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Container
                                                                    Path</label>
                                                                <div><input volumes="text"
                                                                            ng-model="volume.container_path"
                                                                            class="form-control"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Host
                                                                    Path</label>
                                                                <div><input type="text"
                                                                            ng-model="volume.host_path"
                                                                            class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <div class="form-group">
                                                                <label class="control-label">Mode</label>
                                                                <div><select type="text"
                                                                             ng-model="volume.mode"
                                                                             class="form-control">
                                                                    <option value="ro">Read Only
                                                                    </option>
                                                                    <option value="rw">Read and Write
                                                                    </option>
                                                                </select></div>
                                                            </div>
                                                            <div class="controls">
                                                                <a ng-click="addVolume(index)"><span
                                                                        class="si-plus"></span></a>
                                                                <a ng-show="pos!=0"
                                                                   ng-click="deleteVolume(index, pos)"><span
                                                                        class="si-less"></span></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-tab>
                            <md-tab label="url" md-on-select="select=1">
                                <div style="width:300px;margin-left: auto; margin-right: auto;">
                                    <div ng-show="error" class="alert alert-danger">{{ error }}</div>
                                    <form name="form" ng-submit="create()" role="form">
                                        <div class="form-group">
                                            <label for="project_name" layout-align="center"><h2>Project Name</h2>
                                            </label>
                                            <input type="text" name="project_name" id="project_name"
                                                   class="login-input form-control"
                                                   ng-model="project_name" required/>
                                        <span ng-show="form.username.$dirty && form.username.$error.required"
                                              class="help-block">project name is required</span>
                                        </div>
                                        <div class="form-group">
                                            <label for="password"><h2>URL</h2></label>
                                            <input type="test" name="url" id="url" class="login-input form-control"
                                                   ng-model="url" required/>
                                        <span ng-show="form.password.$dirty && form.password.$error.required"
                                              class="help-block">url is required</span>
                                        </div>
                                        <br/>
                                    </form>
                                </div>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="submit()">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
