<div class="animated fadeInRight">
    <div ng-controller="mesCtrl">
        <div id="backTask">
            <a id="backUrl" ui-sref="navbar.service({'project_name':project_name})">
                <i class="glyphicon glyphicon-arrow-left" style="margin-right:5px; font-size: 14px!important;">
                </i>Services
            </a>
        </div>
        <div class="padContent">
            <div class="detailContent animated fadeInRight" style="background-color: #ffffff">
                <h1>Service Detail</h1>
                <hr style="margin-top: 5px;"/>
                <ul class="specs">
                    <li>
                        <span>Name</span>
                        <dd title="{{ data[0] }}">{{ data[0] }}</dd>
                    </li>
                    <li>
                        <span>Scale</span>
                        <dd title="{{ data[1] }}">{{ data[1] }}</dd>
                    </li>
                    <li>
                        <span>Options</span>
                        <dd>
                            <a ng-click="kill(data)" title="kill"><span class="si-close-circle"></span></a>
                            <a ng-click="delete(data)" title="delete"><span class="si-trash"></span></a>
                            <a ng-click="restart(data)" title="restart"><span class="si-rocket"></span></a>
                        </dd>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="table-responsive" style="margin-top: 20px; margin-left: 20px; margin-right: 20px"
         ng-controller="ContainerListCtrl">
        <div class="detailContent animated fadeInRight" style="background-color: #ffffff">
            <table class="table table-striped tasks">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>ContainerID</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>IP</th>
                    <th>Ports</th>
                    <th>Status</th>
                    <th>CreateTime</th>
                </tr>
                </thead>
                <tbody>
                <tr class="read" ng-repeat="container in containers" ng-click="rowClick(container.name)">
                    <td ng-bind="$index+1"></td>
                    <td class="mail-subject">{{ short_id(container.id) }}</td>
                    <td>{{ container.name }}</td>
                    <td>{{ container.image }}</td>
                    <td>{{ container.ip }}</td>
                    <td>{{ container.ports }}</td>
                    <td>{{ container.status }}</td>
                    <td>{{ container.create_time * 1000 | date:"yyyy-MM-dd h:mma" }}</td>
                    <td class="mail-options">
                        <a ng-click="kill(container.name)" title="kill"><span class="si-close-circle"></span></a>
                        <a ng-click="delete(container.name)" title="delete"><span class="si-trash"></span></a>
                        <a ng-click="restart(container.name)" title="restart"><span class="si-rocket"></span></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="wrapper wrapper-content">
        <div ng-cloak="" class="tabsdemoDynamicHeight">
            <md-content>
                <md-tabs md-dynamic-height="" md-border-bottom="">
                    <md-tab label="monitor">
                        <md-content class="md-padding">
                            <div class="row tabContent">
                                <div class="col-sm-12">
                                    <div ng-controller="cpuCtrl">
                                        <h2>CPU</h2>
                                        <canvas id="cpu" class="chart chart-line" chart-data="data"
                                                chart-labels="labels" chart-options="options" chart-legend="true"
                                                chart-series="series"
                                                height="60">
                                        </canvas>
                                    </div>
                                    <div ng-controller="memCtrl">
                                        <h2>MEM</h2>
                                        <canvas id="mem" class="chart chart-line" chart-data="data"
                                                chart-labels="labels" chart-options="options" chart-legend="true"
                                                chart-series="series"
                                                height="60">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="log">
                        <md-content class="md-padding">
                            <div ng-controller="logCtrl">
                                <pre>{{ log }}</pre>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="yaml">
                        <md-content class="md-padding">
                            <div ng-controller="yamlCtrl">
                                <pre>{{ yaml }}</pre>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="shell">
                        <md-content class="md-padding">
                            <div ng-controller="shellCtrl">
                                <iframe ng-src="{{ shell }}" style="width:100%; height:400px">
                                    something wrong
                                </iframe>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
        <!--
        Copyright 2016 Google Inc. All Rights Reserved.
        Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
        -->
    </div>
</div>
