<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-12 animated fadeInRight">
            <div class="ibox">
                <div class="ibox-title">
                    <h2>
                        Projects | {{filter}} ({{projects.length}})
                    </h2>
                </div>
                <div class="ibox-content mailbox-main">
                    <div class="clearfix table-tools">
						<span class="pull-left">
							<button id="task-btn"class="btn btn-block btn-primary compose-mail" ng-click="openProjectModal()">Add Project</button>
						</span>
						<div class="pull-right" id="input-btn">
							<form ng-submit="search()" class="mail-search">
								<div class="input-group">
									<input type="text" class="form-control input-sm" ng-model="search_key" placeholder="Search all projects...">
								</div>
							</form>
							<div class="keep-open btn-group" title="status">
								<button id="status-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
									<i class="glyphicon glyphicon-th icon-th"></i> 
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a ui-sref="project({query: 'all'})"> <i class="fa fa-circle"></i> All</a>
									</li>
									<li>
										<a ui-sref="project({query: 'running'})"> <i class="fa fa-circle text-info"></i> Running</a>
									</li>
									<li>
										<a ui-sref="project({query: 'staging'})"> <i class="fa fa-circle text-navy"></i> Staging</a>
									</li>
									<li>
										<a ui-sref="project({query: 'killed'})"> <i class="fa fa-circle text-warning"></i> Killed</a>
									</li>
									<li>
										<a ui-sref="project({query: 'failed'})"> <i class="fa fa-circle text-danger"></i> Failed</a>
									</li>
									<li>
										<a ui-sref="project({query: 'finished'})"> <i class="fa fa-circle text-primary"></i> Finished</a>
									</li>
								</ul>
							</div>
						</div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped tasks">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>URL</th>
                                <th>Options</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="read" ng-repeat="project in projects" ng-click="rowClick(project[0])">
                                <td ng-bind="$index+1"></td>
                                <td class="mail-subject">{{project[0]}}</td>
                                <td>{{project[1]}}</td>
                                <td class="mail-options">
                                    <a ng-click="kill(project)" title="kill"><span class="si-close-circle"></span></a>
                                    <a ng-click="delete(project)" title="delete"><span class="si-trash"></span></a>
                                    <a ng-click="restart(project)" title="restart"><span class="si-rocket"></span></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





