<div class="animated fadeInRight">
    <div id="backTask">
        <a id="backUrl" ui-sref="navbar.project">
            <i class="glyphicon glyphicon-arrow-left" style="margin-right:5px; font-size: 14px!important;">
            </i>Projects
        </a>
    </div>
    <div class="padContent" ng-controller="DetailCtrl">
        <div class="detailContent animated fadeInRight" style="background-color: #ffffff">
            <h1>Project Detail</h1>
            <hr style="margin-top: 5px;"/>
            <ul class="project_specs">
                <li>
                    <span>ID</span>
                    <dd>{{ 1 }}</dd>
                </li>
                <li>
                    <span>Name</span>
                    <dd>{{ data[0] }}</dd>
                </li>
                <li>
                    <span>Slave</span>
                    <dd>{{ len }}</dd>
                </li>
                <li>
                    <span>URL</span>
                    <dd title="{{ data[1] }}">{{ data[1] }}</dd>
                </li>
                <li>
                    <span>Time</span>
                    <dd>{{ 0 }}</dd>
                </li>
                <li>
                    <span>Options</span>
                    <dd>
                        <a ng-click="kill(data)" title="kill"><span class="si-close-circle"></span></a>
                        <a ng-click="delete(data)" title="delete"><span class="si-trash"></span></a>
                        <a ng-click="restart(data)" title="restart"><span class="si-rocket"></span></a>
                    </dd>
                </li>
            </ul>
        </div>
    </div>
    <div class="table-responsive" style="margin-top: 20px; margin-left: 20px; margin-right: 20px" ng-controller="ServiceCtrl">
        <div class="detailContent animated fadeInRight" style="background-color: #ffffff">
            <table class="table table-striped tasks" >
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Ip</th>
                    <th>Ports</th>
                    <th>Status</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                <tr class="read" ng-repeat="service in services" ng-click="rowClick(service.name)">
                    <td ng-bind="$index+1"></td>
                    <td class="mail-subject">{{ service.name }}</td>
                    <td>{{ service.ip }}</td>
                    <td>{{ service.ports }}</td>
                    <td>{{ service.status }}</td>
                    <td class="mail-options">
                        <a ng-click="kill(service)" title="kill"><span class="si-close-circle"></span></a>
                        <a ng-click="delete(service)" title="delete"><span class="si-trash"></span></a>
                        <a ng-click="delete(service)" title="restart"><span class="si-rocket"></span></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
